/* IMPORTS */

/* ROOT */
:root {
  --panel: #244564;
  --bg: #090e1c;
  --button: #008aff;
  --border: #577bff;
  --text: #bfcfde;
}

/* Other */
body {
  background-color: var(--bg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* CSS RESET */
* {
    padding: 0;
    margin: 0;
}


/* All Screen Sizes */
.circle {
  border-radius: 32px;
}


  /* Navigation Bar */
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

.menu {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: var(--panel);
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}



/* Large Screens */
@media only screen and (min-width: 700px) {

  /* Title Header */
.main__header {
    margin: 5rem 0 0 0;
    font-weight: 800;
    display: flex;
    justify-content: center;
}
  
  /* Content */
  .card {
    background-color: var(--panel);
    border-radius: 10px;
    min-width: 100px;
    max-width: 500px;
    padding: 20px;
    text-align: center;
    border: 3px transparent solid;
    transition: all ease 0.3s;
    box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 50%);
  }
  
  
  /* Main Cards GRID */
  .main__cards {
      display: grid;
      gap: 5rem;
      grid-template-columns: repeat(3, 1fr);
      place-content: center;
      justify-items: center;
  }
  
  /* Small Card */
  .card-small {
      align-items: center;
      display: flex;
      place-content: center;
      margin: auto 0;
      justify-content: center;
      align-items: center;
      max-width: 12.5rem;
  }
  
  .grid__center {
    display: flex;
    justify-content: center;
  }
  
  /* CARD HOVER */
  .card:hover, .smol-card:hover {
    border: 3px var(--border) solid;
    box-shadow: 1px 1px 30px 0 rgb(0 0 0 / 50%);
    transform: translateY(-5%);
  }
  
  
  
  /* FOOTER */
  footer {
      display: flex;
      justify-content: center;
      width: 100%;
      color: var(--text);
      background-color: var(--panel);
      margin-top: 10.5rem;
  }
  
  
  /* Text Colour */
  a, h1 {
    color: var(--text);
    text-decoration: none;
  }
  
  
  /* Button */
  p.button {
    background-color: var(--button);
    border-radius: 5px;
    display: block;
    position: absolute;
    bottom: 10%;
    padding: 5px;
    transition: all ease 0.3s;
    position: relative;
    top: 5%
  }

  p.button:hover {
    filter: brightness(120%)
  }
}



/* 
Small Screens

This section is for
screens that are smaller 
than 700 pixels 
*/

@media only screen and (max-width: 700px) {
  /* Content */
  .card {
    margin: 19px;
    background-color: var(--panel);
    border-radius: 10px;
    min-width: 100px;
    max-width: 500px;
    padding: 20px;
    text-align: center;
    border: 3px transparent solid;
    transition: all ease 0.3s;
    box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 50%);
  }
  
  
  /* Title Header */
  .main__header {
      margin: 5rem 0 0 0;
      font-weight: 500;
      display: flex;
      justify-content: center;
  }
  
  /* Main Cards GRID */
  .main__cards {
      display: inline-block;
      margin: 10px;
      gap: 5rem;
      grid-template-columns: repeat(3, 1fr);
      place-content: center;
      justify-items: center;
  }
  
  /* Small Card */
  .card-small {
      display: flex;
      place-content: center;
      margin: auto 0;
      justify-content: center;
      align-items: center;
      max-width: 12.5rem;
  }
  
  .grid__center {
    display: flex;
    justify-content: center;
  }
  
  /* CARD HOVER */
  .card:hover, .smol-card:hover {
    border: 3px var(--border) solid;
    box-shadow: 1px 1px 30px 0 rgb(0 0 0 / 50%);
    transform: translateY(-5%);
  }
  
  
  
  /* FOOTER */
  footer {
      display: flex;
      justify-content: center;
      width: 100%;
      color: var(--text);
      background-color: var(--panel);
      margin-top: 10rem;
  }
  
  
  /* Text Colour */
  a, h1 {
    color: var(--text);
    text-decoration: none;
  }
  
  
  /* Button */
  p.button {
    background-color: var(--button);
    border-radius: 5px;
    display: block;
    padding: 5px;
    transition: all ease 0.3s;
  }
  
  p.button:hover {
    filter: brightness(120%)
  }
}
