:root {
  --panel: #244564;
  --bg: #090e1c;
  --button: #008aff;
  --border: #577bff;
  --text: #bfcfde;
}

body {
  background-color: var(--bg);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap row;
  width: 100%;
  height: 100vh;
}

.card-row {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  min-width: 70%;
  gap: 50px;
  height: 60%;
}

.social-logo {
  width: 100px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
  background-color: var(--panel);
  border-radius: 10px;
  min-width: 100px;
  max-width: 500px;
  padding: 20px;
  text-align: center;
  border: 3px transparent solid;
  transition: all ease 0.3s;
  box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 50%);
}

.smol-card {
  background-color: var(--panel);
  border-radius: 10px;
  min-width: 100px;
  max-width: 700px;
  padding: 20px;
  text-align: center;
  border: 3px transparent solid;
  transition: all ease 0.3s;
  box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 50%);
}

.card:hover, .smol-card:hover {
  border: 3px var(--border) solid;
  box-shadow: 1px 1px 30px 0 rgb(0 0 0 / 50%);
  transform: translateY(-5%);
}

a {
  color: var(--text);
  text-decoration: none;
}

.blue {
  color: var(--background);
}

.white {
  color: var(--text);
}

p.button {
  background-color: var(--button);
  border-radius: 5px;
  display: block;
  padding: 5px;
  transition: all ease 0.3s;

}

p.button:hover {
  filter: brightness(120%)
}

.t-center {
  text-align: center;
}
